<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="templates/ovro-lwa.ico" type="image/x-icon">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        th {
            background-color: #47a84a;
            color: white;
        }
    </style>

    <script>
        window.onload = function() {
            var table = document.getElementById("SessionTable");
            if (table) {
                for (var i = 0; i < table.rows.length; i++) {
                    table.rows[i].onmouseover = function() {
                    this.style.backgroundColor = "#";
                    };
                table.rows[i].onmouseout = function() {
                    this.style.backgroundColor = "";
                    };
                }
            }
        };
    </script>
</head>

<body>

<h2>OVRO-LWA Schedule and Data</h2>

<div style="height: 400px; overflow-y: auto;">
    <table id="SessionTable">
        <tr>
            <th>PI ID</th>
            <th>PI Name</th>
            <th>Project ID</th>
            <th>Session ID</th>
            <th>Session Mode</th>
            <th>Session DRX Beam</th>
            <th>Configuration File</th>
            <th>Calibration Directory</th>
            <th>Status</th>
        </tr>
        {% for session in sessions %}
        <tr>
            <td>{{ session['PI_ID'] }}</td>
            <td>{{ session['PI_NAME'] }}</td>
            <td>{{ session['PROJECT_ID'] }}</td>
            <td>{{ session['SESSION_ID'] }}</td>
            <td>{{ session['SESSION_MODE'] }}</td>
            <td>{{ session['SESSION_DRX_BEAM'] }}</td>
            <td>{{ session['CONFIG_FILE'] }}</td>
            <td>{{ session['CAL_DIR'] }}</td>
            <td>{{ session['STATUS'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
