[Unit]
Description=OVRO-LWA Scheduler
After=network-online.target
Wants=network-online.target

[Service]
# Run as the specified user
Type=simple

# Allow unlimited locked memory
LimitMEMLOCK=infinity

# Logging
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=scheduler

# Setup the environment
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pipeline/proj/lwa-shell/lwa-observing
ExecStart=/bin/bash -ec 'source /opt/miniconda3/bin/activate deployment && GRPC_ENABLE_FORK_SUPPORT=true python scripts/executor.py'

#Restart=always
#RestartSec=10
#StartLimitBurst=3

[Install]
WantedBy=multi-user.target
